@model BirthdayGreetingAPI.Models.WallMessageModel

@{
    ViewBag.Title = "Facebook Wall Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Facebook Wall Message</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm("Create", "WallMessage"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post a message</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.message)
            @Html.ValidationMessageFor(model => model.message)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}